<h1> <%=@username%> </h1>

<p>ID
<br> <%=@user.id%>
</p>

<p>Edit user
<br> 
<form action="/users/update/<%=@username%>" method="post">
  <div>
    <label for="username_box">
      Username
    </label>
    <input type="text" id="username_box" name="new_username" value="<%= @user.username %>">

  <button>
    Update user
  </button>
  </div>
</form>
</p>

<h2>Own photos (<%=@user.own_photos.length%>)
</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
    </th>
  </tr>

<%@user.own_photos.each do |photo|%>
    <tr>
      <td>
        <img src="<%=photo.image%>">
      </td>

      <td>
        <%=photo.poster.username%>
      </td>

      <td>
        <%=photo.caption%>
      </td>

      <td>
        <%=photo.created_at%>
      </td>
      
      <td>
        <a href="/photos/<%=photo.id%>">Show details</a>
      </td>
    </tr>

<%end%>
