<h1>Photo Details</h1>

<p>Image
<br> <img src="<%=@photo.image%>">
</p>

<p>Caption
<br> <%=@photo.caption%>
</p>

<p>Owner
<br> <%=@photo.poster.username%>
</p>

<p>Posted
<br> <%=@photo.created_at%>
</p>

<p>Edit photo
<br> 
<form action="/photos/update/<%=@photo.id%>" method="post">
  <div>
    <label for="image_box">
      Image
    </label>
    <input type="text" id="image_box" name="new_image" value="<%= @photo.image %>">

    <label for="caption_box">
      Caption
    </label>
    <input type="text" id="caption_box" name="new_caption" value="<%= @photo.caption %>">

  <button>
    Update photo
  </button>
  </div>
</form>
</p>

<p>Delete photo
<br> Delete this photo
</p>

<h2>Comments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

<%@photo.comments.each do |comment|%>
    <tr>
      <td>
        <%=comment.commenter.username%>
      </td>

      <td>
        <%=comment.body%>
      </td>

      <td>
        <%=comment.created_at%>
      </td>
    </tr>
<%end%>

</table>

<h3>Add a new comment</h3>

<p>Insert form to add a new comment</p>
